# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# JWT Secrets
secrets.json

# Local dynamodb
.dynamodb

# test coverage results
coverage